//root
$text-color: hsl(0, 0%, 95%);
$text-color-muted: hsl(0, 0%, 70%);
$bg-dark: hsl(0, 0%, 0%);
$bg: hsl(0, 0%, 6.25%);
$bg-light: hsl(0, 0%, 10%);
$border-color: hsl(0, 0%, 30%);
$gradient: linear-gradient(0deg, $bg 95%, $bg-light);

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: $bg-dark;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	min-height: 100vh;
}
main {
	display: flex;

	width: fit-content;
	height: fit-content;

	padding: 1rem 1rem 1rem 1rem;

	gap: 1rem;
}

h1 {
	color: $text-color;
}
p {
	color: $text-color-muted;
}
button {
	display: flex;
	align-items: center;

	background-color: $bg-light;
	color: $text-color;

	border: 1px solid $border-color;
	border-radius: 0.5rem;

	animation: 0.2s ease-in;
}
button:hover {
	transform: scale(102.5%);
	background-color: $gradient;
}

.component {
	background-color: $bg;

	border-radius: 1rem;

	padding: 1rem 1rem 1rem 1rem;
}
